
  *{
    box-sizing: border-box;
   
  }
  h1 {
    color: black;
    text-align: center;
    padding-bottom: 15px;
  }
  section {
    position: relative;
    width: 100%;
    padding: 15px;
  }
  div {
   
    position: relative;
    width: 100%;
    border: 1px solid black;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
  .title-1 {
    width: 100px;
    margin: 0;
    background-color: tomato;
    float: right;
    border: 1px solid black;
    font-size: 125%;
    text-align: center;
    padding: 5px;
    
    

  }
  .title-2 {
    width: 100px;
    margin: 0;
    background-color: red;
    float: right;
    border: 1px solid black;
    font-size: 125%;
    text-align: center;
    padding: 5px;
  }
  .title-3 {
    width: 100px;
    margin: 0;
    background-color: yellow;
    float: right;
    border: 1px solid black;
    font-size: 125%;
    text-align: center;
    padding: 5px;
  }
  .body {
    padding: 20px;
    height: 200px;
    clear: right;
    overflow: auto;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin: 0;
  }
  .row {
    width: 90%;
  }
@media (min-width:992px){
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .col-md-6 {
    float: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .col-md-12 {
    float: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
 @media (max-width:767px) {
  .col-sm-12{
    float: left;
    width: 100%;
  }
}

