
*{
    box-sizing: border-box;
    padding: 0;
}

.navbar{
    width: 100%; 
    float: left;
    margin-bottom: 10px;
    border: 2px solid black;
    padding: 0;

}



li{
    border: 1px solid black; 
    width: auto;    
}

@media (min-width:500px){
    .container-sm{
        width: 90%;
    }
}

